{% extends "base.html" %}
{% block title %}Australia{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-9">
        <p><strong>ARRIBA ESPAÑA</strong>ARRIBA<strong>ESPAÑITA</strong>
            QUIERO EMPEZAR LAS VACIONES
        </p>
    </div>
    <div class="col-6 col-md-3">
        <img class="img-fluid" src="/static/australia.jpg" alt="Australia satelite plane">
    </div>
</div>
{% endblock %}